<div class="col-12">
  <div class="row">
    <div class="col-6 mt-3">
      <input class="size-xsmall d-inline-block" type="text" placeholder="Origin" style="width: 100px;" />
      <p class="mb-0 ml-2 mr-2 size-xsmall d-inline-block">to</p>
      <input class="size-xsmall d-inline-block" type="text" placeholder="Destination" style="width: 100px;" />
    </div>

    <div class="col-6 mt-3">
      <i class="fas fa-minus d-inline-block"></i>
      <p class="mb-0 ml-2 mr-2 size-xsmall d-inline-block">Today</p>
      <i class="fas fa-plus d-inline-block"></i>
      <select class="size-xsmall d-inline-block ml-2">
        <option>V</option>
        <option>R</option>
        <option>VR</option>
      </select>
      <button class="btn btn-secondary btn-sm ml-2 d-inline-block">POST</button>
    </div>

    <div class="col-6">
      <p class="mb-0 size-xsmall d-inline-block">Pod: Detroit, MI</p>
      <p class="mb-0 ml-5 mr-2 size-xsmall d-inline-block">Pod: N/A</p>
    </div>
  </div>
</div>
