<div class="col-12">
  <div class="row pt-4">
    <div class="col-3 size-xsmall">
      <p class="mb-2">LH  1,782.00</p>
      <p class="mb-2">Fuel  345.45</p>
      <p class="mb-2">Rpm  3.77</p>
      <p class="mb-2">Mrg  1.12%</p>
    </div>
    <div class="col-3 size-xsmall">
      <p class="mb-2">"1,777.00"</p>
      <p class="mb-2 f-w-500">Carrier Bid</p>
      <input type="number" class="w-75"/>
    </div>
    <div class="col-3 size-xsmall">
      <p class="mb-2">"1,777.00"</p>
      <p class="mb-2 f-w-500">Broker Quote</p>
      <input type="number" class="w-75" />
    </div>
    <div class="col-3 size-xsmall">
      <p class="mb-2">1,782.00  LH</p>
      <p class="mb-2">345.45  Fuel</p>
      <p class="mb-2">3.77  Rpm</p>
      <p class="mb-2">1.12%  Mrg</p>
    </div>
  </div>
</div>
