<div class="col-12">
  <div class="row pt-4">
    <div class="col-3 size-xsmall">
      <p>LH  1,782.00</p>
      <p>Fuel  345.45</p>
      <p>Rpm  3.77</p>
      <p>Mrg  1.12%</p>
    </div>
    <div class="col-3 size-xsmall">
      <p>"1,777.00"</p>
      <p>Carrier Bid</p>
      <input type="number" class="w-75"/>
    </div>
    <div class="col-3 size-xsmall">
      <p>"1,777.00"</p>
      <p>Broker Quote</p>
      <input type="number" class="w-75" />
    </div>
    <div class="col-3 size-xsmall">
      <p>1,782.00  LH</p>
      <p>345.45  Fuel</p>
      <p>3.77  Rpm</p>
      <p>1.12%  Mrg</p>
    </div>
  </div>
</div>
