<div class="col-12">
  <div class="row">
    <div class="col-12 p-0" style="background-color: gray; color: #fff;">
      <p class="mb-0 ml-1">Strategy</p>
    </div>
  </div>
  <div class="col-12 p-0">
    <div class="row m-0 pt-2" style="padding-left:1em;">
      <div class="col-12 p-0 m-0">
        <div class="col-12 p-0 m-0">
          <p class="mb-0"><i class="fas fa-caret-right fa-small"></i> Point 1</p>
          <p class="mb-1" style="font-style:italic;">(context)</p>
        </div>
        <div class="col-12 p-0 m-0">
          <p class="mb-0"><i class="fas fa-caret-right fa-small"></i> Point 2</p>
          <p class="mb-1" style="font-style:italic;">(context)</p>
        </div>
        <div class="col-12 p-0 m-0">
          <p class="mb-0"><i class="fas fa-caret-right fa-small"></i> Point 3</p>
          <p class="mb-1" style="font-style:italic;">(context)</p>
        </div>
      </div>
    </div>
  </div>
</div>
