<div class="col-12">
  <div class="row ml-2 mt-2">
    <button type="button" class="btn btn-secondary ml-5">Bid</button>
    <button type="button" class="btn btn-secondary ml-5">Reserve</button>
    <button type="button" class="btn btn-secondary ml-5">Pass</button>
  </div>
  <div class="row">
    <table class="table mt-4 ml-2" style="border-top:medium;">
      <thead>
        <tr>
          <th scope="col" style="width: 6%;">Order</th>
          <th scope="col" style="width: 25%;">Origin</th>
          <th scope="col" style="width: 45%;">Dest</th>
          <th scope="col" style="width: 10%;">Pick</th>
          <th scope="col" style="width: 6%;">Context</th>
          <th scope="col" style="width: 6%;">Price</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>8032648</td>
          <td>Canton, MI</td>
          <td>Webberville, MI</td>
          <td>9/9/21 00:00</td>
          <td>Canton, MI</td>
          <td>$9,999</td>
        </tr>
        <tr>
          <td>8032648</td>
          <td>Canton, MI</td>
          <td>Webberville, MI</td>
          <td>9/9/21 00:00</td>
          <td>Canton, MI</td>
          <td>$9,999</td>
        </tr>
        <tr>
          <td>8032648</td>
          <td>Canton, MI</td>
          <td>Webberville, MI</td>
          <td>9/9/21 00:00</td>
          <td>Canton, MI</td>
          <td>$9,999</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
