<div *ngIf="order.stops && order.stops.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Appointment</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stop of order.stops">
        <td>{{stop.stopType.description}}</td>
        <td>{{stop.earliestAppointment}}</td>
        <td>{{stop.location.city.cityName}}, {{stop.location.city.state}}</td>
      </tr>
    </tbody>
  </table>
</div>

