<div class="col-12" style="background-color: gray; color: #fff;">
  <div class="container pl-2 pr-2">
    <div class="row">
      <div class="col-3 p-0">
        <p class="mb-0 f-w-500 size-small">8032648</p>
      </div>
      <div class="col-3 p-0">
        <p class="mb-0 f-w-500 size-small">Available ~5 min</p>
      </div>
      <div class="col-2 p-0">
        <p class="mb-0 f-w-500 size-small">VEL1</p>
      </div>
      <div class="col-4 p-0">
        <p class="mb-0 f-w-500 size-small">VVOGE</p>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="row">
    <div class="col-6 p-0 d-inline-block">
      <div class="container pl-2 pr-2">
        <div class="row">
          <div class="col-12 p-0">
            <app-stop-detail></app-stop-detail>
          </div>
          <div class="col-12">
            <p class="m-0" style="font-size: 13px; color: red;">Red notes Red notes Red notes Red notes Red notes Red notes Red notes Red notes Red notes</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5 p-0 d-inline-block">
      <div class="container">
        <div class="row">
          <div class="col-5 p-0">
            <p class="mb-0 f-w-500 size-xsmall">Rev $1,777.00 (3.77)</p>
          </div>
          <div class="col-7 p-0">
            <p class="mb-0 f-w-500 size-xsmall">Posted@ $1,777.00 (3.77)</p>
            <p class="mb-0 size-tiny" style="margin-top: -5px;">Posted by PJONE 15 min ago</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 p-0">
            <p class="mb-0 f-w-500 size-xsmall">Target $1,777.00 (3.77)</p>
            <p class="mb-0 size-tiny" style="margin-top: -5px;">Set by JGRAY 1 hour ago</p>
          </div>
          <div class="col-7 p-0">
            <p class="mb-0 f-w-500 size-xsmall">Last@ $1,777.00 (3.77)</p>
            <p class="mb-0 size-tiny" style="margin-top: -5px;">Exact: VVOGE w/ NORPLO on 10/10/20</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 p-0">
            <p class="mb-0 f-w-500 size-xsmall">Max $1,777.00 (3.77)</p>
            <p class="mb-0 size-tiny" style="margin-top: -5px;">Set by JGRAY 1 hour ago</p>
          </div>
          <div class="col-7 p-0">
            <p class="mb-0 f-w-500 size-xsmall">Profiled@ $1,777.00 (3.77)</p>
            <p class="mb-0 size-tiny" style="margin-top: -5px;">Logged by VVOGE on 9/29/21</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 p-0">
            <p class="mb-0 f-w-500 size-small">3,254 mi</p>
          </div>
          <div class="col-3 p-0">
            <p class="mb-0 f-w-500 size-small">45,000 lbs</p>
          </div>
          <div class="col-2 p-0">
            <p class="mb-0 f-w-500 size-small">53V</p>
          </div>
          <div class="col-4 p-0">
            <a class="link-primary size-xsmall d-inline-block">Bids(5)</a>
            <a class="link-primary size-xsmall d-inline-block ml-2">Pass(15)</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-1 p-0 d-inline-block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <img src="favicon.ico" width="20" height="20" />
          </div>
          <div class="col-12">
            <img src="favicon.ico" width="20" height="20" />
          </div>
          <div class="col-12">
            <img src="favicon.ico" width="20" height="20" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

