<div class="col-7 p-0 d-inline-block align-top border border-dark">
  <app-load-view></app-load-view>
</div>
<div class="col-5 p-0 text-center d-inline-block align-top border border-dark bookingDetailWrapper">
  <app-booking-detail></app-booking-detail>
</div>
<div class="col-7 p-0 d-inline-block align-top border border-dark ">
  <app-work-bench></app-work-bench>
</div>
<div class="col-5 p-0 d-inline-block align-top border border-dark ">
  <app-discovery-glass></app-discovery-glass>
</div>
<div class="col-12 p-0 d-inline-block align-top border border-dark ">
  <app-carrier-browser></app-carrier-browser>
</div>
