<div class="col-12 h-100">
  <div class="row h-100">
    <div class="col-12 p-0 text-center mt-2">
      <p class="f-w-500 size-small mb-0 d-inline-block">Y</p>
      <p class="f-w-500 size-small ml-4 mb-0 d-inline-block">Q</p>
      <p class="f-w-500 size-small ml-4 mb-0 d-inline-block" style="border: 2px solid #343a40">M</p>
      <p class="f-w-500 size-small ml-4 mb-0 d-inline-block">7</p>
      <p class="f-w-500 size-small ml-4 mb-0 d-inline-block">3</p>
      <p class="f-w-500 size-small ml-4 mb-0 d-inline-block">1</p>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-3 offset-3 p-0 text-center">
          <p class="size-small f-w-500 mb-0">DAT</p>
        </div>
        <div class="col-3 p-0 text-center">
          <p class="size-small f-w-500 mb-0">Universal</p>
        </div>
        <div class="col-3 p-0 text-center">
          <p class="size-small f-w-500 mb-0">Carrier</p>
        </div>
      </div>

      <div class="row">
        <div class="col-3 p-0 text-center">
          <p class="size-small f-w-500 mb-0">High</p>
        </div>
        <div class="col-3 p-0 text-center">
          <p class="size-xsmall mb-0">$1,777.00 (3.77)</p>
        </div>
        <div class="col-3 p-0 text-center">
          <p class="size-xsmall mb-0">$1,777.00 (3.77)</p>
        </div>
        <div class="col-3 p-0 text-center">
          <p class="size-xsmall mb-0">$1,777.00 (3.77)</p>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-3 p-0 text-center">
          <p class="size-small f-w-500 mb-0">Avg.</p>
        </div>
        <div class="col-3 p-0 text-center">
          <p class="size-xsmall mb-0">$1,777.00 (3.77)</p>
        </div>
        <div class="col-3 p-0 text-center">
          <p class="size-xsmall mb-0">$1,777.00 (3.77)</p>
        </div>
        <div class="col-3 p-0 text-center">
          <p class="size-xsmall mb-0">$1,777.00 (3.77)</p>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-3 p-0 text-center">
          <p class="size-small f-w-500 mb-0">Low</p>
        </div>
        <div class="col-3 p-0 text-center">
          <p class="size-xsmall mb-0">$1,777.00 (3.77)</p>
        </div>
        <div class="col-3 p-0 text-center">
          <p class="size-xsmall mb-0">$1,777.00 (3.77)</p>
        </div>
        <div class="col-3 p-0 text-center">
          <p class="size-xsmall mb-0">$1,777.00 (3.77)</p>
        </div>
      </div>
    </div>
  </div>
</div>
