<div class="col-12" >
  <div class="row" style="min-height:450px;">
    <div class="col-5 d-inline-block" style="min-height: 100%;">
      <div class="row h-100">
        <div class="col-12 p-0 appletWrapper border border-dark h-50">
          <app-context></app-context>
        </div>
        <div class="col-12 p-0 appletWrapper border border-dark h-50">
          <app-strategy></app-strategy>
        </div>
      </div>
    </div>
    <div class="col-7 d-inline-block" style="min-height: 100%;">
      <div class="row h-100">
        <div class="col-12 p-0 border border-dark" style="height:33.3%">
          <app-history></app-history>
        </div>
        <div class="col-12 p-0 appletWrapper border border-dark" style="height:33.3%">
          <app-negotiation></app-negotiation>
        </div>
        <div class="col-12 p-0 appletWrapper border border-dark" style="height:33.4%">
          <app-reservations></app-reservations>
        </div>
      </div>
    </div>
  </div>
</div>
