<div class="col-11 d-inline-block componentWrapper align-top">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12" style="background-color: gray; color: #fff;">
          <p class="mb-0 f-w-500 size-small">NAPFAI</p>
        </div>
        <div class="col-6 text-left">
          <p class="label">Dispatcher<i class="fas fa-phone fa-sm"></i></p>
          <p>Kamina James</p>
          <p></p>
          <p class="label">Portal</p>
          <p>Email Sent</p>
        </div>
        <div class="col-6 text-right">
          <p class="label">Driver<i class="fas fa-phone fa-sm"></i></p>
          <p>Yoko Littner</p>
          <p></p>
          <div class="row">
            <div class="col-6">
              <p class="label">Truck</p>
              <p>177</p>
            </div>
            <div class="col-6">
              <p class="label">Trailer</p>
              <p>1229</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12" style="background-color: gray; color: #fff;">
          <p class="mb-0 f-w-500 size-small">BALBRO01</p>
        </div>
        <div class="col-6 text-left">
          <p class="label">Booker<i class="fas fa-phone fa-sm"></i></p>
          <p>William Vangeance</p>
          <p></p>
          <p class="label">Acct. Exec.<i class="fas fa-phone fa-sm"></i></p>
          <p>Light Yagami</p>
        </div>
        <div class="col-6 text-right">
          <p class="label">Owener<i class="fas fa-phone fa-sm"></i></p>
          <p>Julius Novochrono</p>         
        </div>
      </div>
    </div>
  </div> 
</div>


<div class="col-1 p-0 d-inline-block">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="fas fa-camera" />
        <span class="fas fa-camera" ></span>
      </div>
      <div class="col-12">
        <span class="fas fa-camera"></span>
      </div>
      <div class="col-12">
        <i class="fas fa-camera fa-sm"></i>
      </div>
    </div>
  </div>
</div>



